<div id="employeeModal" class="modal">

<div class="modal-card">

<div class="modal-header">
<h2>Add Employee</h2>
<span id="closeModal" class="close-btn">&times;</span>
</div>

<form method="post" action="{% url 'employee_add' %}">
{% csrf_token %}

<div class="form-row">
<label>Email</label>
{{ form.email }}
</div>

<div class="form-row">
<label>Designation</label>
{{ form.designation }}
</div>

<label>Custom Weekend (optional)</label>

<div class="weekend-box">

<label><input type="checkbox" name="weekdays" value="0"> Mon</label>
<label><input type="checkbox" name="weekdays" value="1"> Tue</label>
<label><input type="checkbox" name="weekdays" value="2"> Wed</label>
<label><input type="checkbox" name="weekdays" value="3"> Thu</label>
<label><input type="checkbox" name="weekdays" value="4"> Fri</label>
<label><input type="checkbox" name="weekdays" value="5"> Sat</label>
<label><input type="checkbox" name="weekdays" value="6"> Sun</label>

</div>

<small>
If not selected → company default weekend will apply
</small>

<div class="modal-actions">
<button type="submit" class="primary-btn">Save Employee</button>
<button type="button" id="cancelModal">Cancel</button>
</div>

</form>

</div>
</div>