{% extends "base/base.html" %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'accounts/css/employee.css' %}">
{% endblock %}

{% block content %}

<div class="emp-card emp-edit-card">

<div class="emp-header">
    <h2>Edit Employee</h2>
</div>

<form method="post">
    {% csrf_token %}

    {% if form.errors %}
    <div class="form-error">
        {{ form.errors }}
    </div>
    {% endif %}

    <!-- Employee Info -->
    <div class="form-group">
        <label>Name</label>
        {{ form.name }}
    </div>

    <div class="form-group">
        <label>Email</label>
        {{ form.email }}
    </div>

    <div class="form-group">
        <label>Designation</label>
        {{ form.designation }}
    </div>

    <hr class="section-divider">

    <!-- Weekend Setup -->
    <div class="form-group">

        <label class="section-title">Custom Weekend (optional)</label>

        <div class="weekend-box">

            <label>
                <input type="checkbox" name="weekdays" value="4"
                {% if 4 in weekend_days %}checked{% endif %}>
                Fri
            </label>

            <label>
                <input type="checkbox" name="weekdays" value="5"
                {% if 5 in weekend_days %}checked{% endif %}>
                Sat
            </label>

            <label>
                <input type="checkbox" name="weekdays" value="6"
                {% if 6 in weekend_days %}checked{% endif %}>
                Sun
            </label>

            <label>
                <input type="checkbox" name="weekdays" value="0"
                {% if 0 in weekend_days %}checked{% endif %}>
                Mon
            </label>

            <label>
                <input type="checkbox" name="weekdays" value="1"
                {% if 1 in weekend_days %}checked{% endif %}>
                Tue
            </label>

            <label>
                <input type="checkbox" name="weekdays" value="2"
                {% if 2 in weekend_days %}checked{% endif %}>
                Wed
            </label>

            <label>
                <input type="checkbox" name="weekdays" value="3"
                {% if 3 in weekend_days %}checked{% endif %}>
                Thu
            </label>

        </div>

        <small class="form-hint">
            If none selected → company default weekend will apply
        </small>

    </div>

    <div class="form-actions">
        <button type="submit" class="add-btn">
            Update Employee
        </button>
    </div>

</form>

<div class="back-link">
    <a href="{% url 'employee_list' %}">
        ← Back to Employee List
    </a>
</div>


</div>

{% endblock %}
