{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Password Updated</title>

<link rel="stylesheet" href="{% static 'accounts/auth.css' %}?v=1">

</head>

<body>

<div class="auth-box">

<div class="message">

<h2>Password Changed</h2>

<p>Your password has been updated successfully.</p>

<div class="auth-links">
<a href="{% url 'login' %}">Login now</a>
</div>

</div>

</div>

</body>
</html>
