{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Set New Password</title>

<link rel="stylesheet" href="{% static 'accounts/auth.css' %}?v=1">

</head>

<body>

<div class="auth-box">

<h2>Set New Password</h2>

<form method="post">

{% csrf_token %}

<div class="form-field">
{{ form.new_password1.label_tag }}
{{ form.new_password1 }}
</div>

<div class="form-field">
{{ form.new_password2.label_tag }}
{{ form.new_password2 }}
</div>

<button type="submit">
Change Password
</button>

</form>

<div class="auth-links">
<a href="{% url 'login' %}">Back to Login</a>
</div>

</div>

</body>
</html>
