<div class="form-group">
<label>Company Name</label>
{{ form.name }}
</div>

<div class="form-group">
<label>Address</label>
{{ form.address }}
</div>

<div class="form-group">
<label>Phone</label>
{{ form.phone }}
</div>

<hr class="section-divider">

<div class="form-group">
<label>Weekend Setup</label>

<div class="weekend-chips">

<label class="chip">
<input type="checkbox" name="weekdays" value="4"
{% if 4 in weekend_days %}checked{% endif %}>
<span>Fri</span>
</label>

<label class="chip">
<input type="checkbox" name="weekdays" value="5"
{% if 5 in weekend_days %}checked{% endif %}>
<span>Sat</span>
</label>

<label class="chip">
<input type="checkbox" name="weekdays" value="6"
{% if 6 in weekend_days %}checked{% endif %}>
<span>Sun</span>
</label>

<label class="chip">
<input type="checkbox" name="weekdays" value="0"
{% if 0 in weekend_days %}checked{% endif %}>
<span>Mon</span>
</label>

<label class="chip">
<input type="checkbox" name="weekdays" value="1"
{% if 1 in weekend_days %}checked{% endif %}>
<span>Tue</span>
</label>

<label class="chip">
<input type="checkbox" name="weekdays" value="2"
{% if 2 in weekend_days %}checked{% endif %}>
<span>Wed</span>
</label>

<label class="chip">
<input type="checkbox" name="weekdays" value="3"
{% if 3 in weekend_days %}checked{% endif %}>
<span>Thu</span>
</label>

</div>

</div>