{% extends "base/base.html" %}
{% block content %}

<div class="emp-card">
    <div class="emp-header">
        <h2>{{ title }}</h2>
    </div>

    <form method="post" style="margin-bottom:20px;">
        {% csrf_token %}
        {{ form.name }}
        <button type="submit" class="add-btn">Add</button>
    </form>

    <table class="emp-table">
        <thead>
            <tr>
                <th>Name</th>
                <th width="80">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in items %}
            <tr>
                <td>{{ i.name }}</td>
                <td>
                    <a href="{% url delete_url i.id %}" class="action-link danger">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
