{% extends "base/base.html" %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>

<style>
#map{
    height:500px;
    border-radius:12px;
}
</style>

{% endblock %}


{% block content %}

<h2>📍 Live Employee Map</h2>

<div id="map"></div>

{% endblock %}


{% block extra_js %}

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>

var map = L.map('map').setView([23.8103, 90.4125], 12);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© OpenStreetMap'
}).addTo(map);

let markers = [];

// load data
function loadLocations(){

    fetch("/tasks/locations/")
    .then(res => res.json())
    .then(data => {

        // clear old markers
        markers.forEach(m => map.removeLayer(m));
        markers = [];

        data.forEach(emp => {

            let marker = L.marker([emp.lat, emp.lng])
                .addTo(map)
                .bindPopup(emp.name);

            markers.push(marker);
        });

    });

}

// first load
loadLocations();

// refresh every 20 sec
setInterval(loadLocations, 20000);

</script>

{% endblock %}